@import "shared";

$elementMargin: 5px;
$invalidInputColor: #cb2431;

form {
    ol {
        margin: 10px auto;
        max-width: 400px;
        font-weight: 100;

        li {
            display: block;
            list-style: none;
            padding: 0 5px;

            label {
                display: block;
                text-align: center;
                margin: $elementMargin 0;
                padding: 5px;
            }

            %form-item {
                border: solid 1px #dedede;
                border-radius: $defaultBorderRadius;
                outline: none;
                margin: $elementMargin 0;
                padding: 5px;

                &.error-messages {
                    color: $invalidInputColor;
                    margin-bottom: 5px;
                }

                &:focus {
                    box-shadow: 0 0 0 2px #308DE0;
                }

                &.validation-failed {
                    box-shadow: 0 0 0 2px $invalidInputColor;
                }
            }

            select {
                @extend %form-item;

                width: 100%;
            }

            textarea {
                @extend %form-item;

                height: 100px;
                resize: vertical;
            }

            input {
                @extend %form-item;

                &[type=submit] {
                    color: white;
                    background: #4B99AD;
                    border: none;
                    border-radius: $defaultBorderRadius;
                    padding: 7px 15px;

                    &:hover {
                        background: #4691A4;
                        box-shadow: none;
                    }
                }
            }

            .inline {
                display: inline-block;
            }

            .field-long {
                width: 100%;
            }
        }
    }
}