.comment-list {
    list-style: none;
    padding: 0;

    .comment {
        margin-bottom: 15px;
        border: solid 1px #dedede;
        border-radius: 5px;

        .comment-head {
            @extend %vertical-margin;

            padding: 5px;
            border-bottom: solid 1px #dedede;
        }

        .comment-body {
            @extend %vertical-margin;

            padding: 5px;

            .comment-picture {
                max-width: 100%
            }
        }

        %vertical-margin {
            margin-top: 3px;
            margin-bottom: 3px;
        }

        p {
            margin: 0;
        }
    }
}