%footer
  %section
    %header
      %h2 Футер
    %p Some useful links here
    %ul
      %li Link
      %li Another link
    %p
      And some info as well: Nunc eget viverra neque, non ullamcorper odio. Integer dolor sem, ultrices eu
      tempus dapibus, sagittis ac lacus. Duis rutrum turpis eu lectus imperdiet, ac
      sagittis orci faucibus. Vestibulum volutpat fringilla turpis vehicula lobortis.
      Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam posuere
      tempor enim, et tempus tellus commodo mattis. Sed sollicitudin mauris vitae
      vestibulum malesuada.