%meta{ name: "viewport", content: "width=device-width" }
%meta{ content: "no-cache", "http-equiv": "Cache-Control" }
%link{ href: "../src/pages/nav.css", "rel": "stylesheet", "type": "text/css" }
%link{ href: "../src/pages/shared.css", "rel": "stylesheet", "type": "text/css" }