%nav
  %ul
    %li
      %span Web lab1
    %li
      %a{ href: "index.html" } Home
    %li
      %a{ href: "about.html" } About
    %li
      %a{ href: "interests.html" } My interests
    %li
      %a{ href: "learning.html"} Learning
    %li
      %a{ href: "photos.html" } Photos
    %li
      %a{ href: "contact.html" } Contact
    %li
      %a{ href: "test.html" } Test
    %li
      %a{ href: "history.html" } History
    %li
      %span{ id: "time" }
      %br
      %span{ id: "date" }