$modalConfirmButtonColor: #4CAF50;
$modalCancelButtonColor: #f44336;

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;

    .modal-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 30%;
        max-height: 30%;
        padding: 20px;
        background-color: lightgrey;
        border-radius: 5px;

        .modal-message {
            font-size: 28px;
            text-align: center;
        }

        .modal-navigation {
            text-align: center;
            margin: 20px;

            .modal-button {
                width: 100px;
                height: 40px;
                border-radius: 5px;
                font-size: 20px;
                border: none;
                margin: 0 10px;

                &.modal-confirm-button {
                    background-color: $modalConfirmButtonColor;

                    &:hover {
                        background-color: darken($modalConfirmButtonColor, 20%);
                    }
                }

                &.modal-cancel-button {
                    background-color:  $modalCancelButtonColor;

                    &:hover {
                        background-color: darken($modalCancelButtonColor, 20%);
                    }
                }
            }
        }
    }
}

.no-scroll {
    overflow: hidden;
}