%html
  %head
    %title Contact me
    = render(File.join(__dir__, "/partials/head-shared.haml"))
    %script{ src: "../js/contact.js" }
  %body
    = render(File.join(__dir__, "/partials/nav.haml"))
    = render(File.join(__dir__, "/partials/portrait.haml"))
    %div.main-content
      %section
        %header
          %h1 Mail Me!
        %p All fields are required! Hover over fields to see the additional requirements.
        %form{ action: "someaction", method: "POST" }
          %ol
            %li
              %label{ for: "full-name-input"} Full Name
              %input#full-name-input.field-long{ name: "full-name", type: "text" }
              %br
            %li
              %label{ for: "email-input" } Email
              %input#email-input.field-long{ name: "email", type: "email"}
              %br
            %li
              %label{ for: "phone-input" } Phone number
              %input#phone-input.field-long{ name: "phone", type: "text" }
              %br
            %li
              %label{ for: "message-input" } Your Message
              %textarea#message-input.field-long{ name: "field4" }
            %li
              %label{ for: "datepicker-input" } Date
              %input#datepicker-input.field-long{ name: "date", type: "text" }
              %br
            %li
              %input{ type: "submit", value: "Submit"}
              %br
    = render(File.join(__dir__, "/partials/footer.haml"))