%html
  %head
    %title M university disciplines page
    = render("./partials/head-shared.haml")
    %script{ src: "../js/index.js" }
  %body
    = render("./partials/nav.haml")
    = render("./partials/portrait.haml")
    %div.main-content
      %section
        %header
          %h1 Дисциплины
        %p Институт информационных технологий и управления в технических системах
        %p Кафедра информационных систем
        %table
          %tr
            %td{:colspan => "9"} Дисциплины по семестрам
          %tr
            %th{:scope => "row"} 1 семестр
            %td Высшая математика
            %td Алгоритмизация и программирование
            %td Информатика
            %td История
            %td Физика
            %td Экология
            %td Дискретная математика
            %td Английский язык
          %tr
            %th{:scope => "row"} 2 семестр
            %td Высшая математика
            %td Алгоритмизация и программирование
            %td Физика
            %td Философия
            %td Основы теории права
            %td Экономика
            %td БЖД
            %td Английский язык
          %tr
            %th{:scope => "row"} 3 семестр
            %td Архитектура компьютерных систем
            %td Высшая математика
            %td Дискретная математика
            %td ООП
            %td ТЭЦ
            %td Экономика предприятия
            %td Компьютерная графика
            %td Английский язык
          %tr
            %th{:scope => "row"} 4 семестр
            %td Электроника
            %td Основы теории алгоритмов
            %td Теория вероятностей и математическая статистика
            %td Английский язык
            %td Системный анализ
            %td Теория баз данных
            %td ТСПП
            %td ОС
    = render("./partials/footer.haml")