%html
  %head
    %title Test page
    = render(File.join(__dir__, "/partials/head-shared.haml"))
    %link{ href: '../src/datepicker/datepicker.css', rel: "stylesheet", type: "text/css" }
    %link{ rel: "stylesheet", type: "text/css", href: "../node_modules/tooltipster/dist/css/tooltipster.bundle.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "../node_modules/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css" }
    %script{ src: "../js/test.js" }
  %body
    = render(File.join(__dir__, "/partials/nav.haml"))
    = render(File.join(__dir__, "/partials/portrait.haml"))
    %div.main-content
      %section
        %header
          %h1 Тест по инженерной графике
        %p All fields are required! Hover over fields to see the additional requirements.
        %form{ action: "someaction", method: "POST" }
          %ol
            %li
              %p От чего зависит величина стрелок размерной линии?
              %label.inline{ for: "1" } От длины размерной линии
              %input#1{ checked: "true", name: "question1", type: "radio", value: "1"}
              %br
              %label.inline{ for: "2" } От толщины линии контура изображения
              %input#2{ name: "question1", type: "radio", value: "2" }
              %br
            %li
              %label{ for: "select-input" } Какое назначение имеет тонкая сплошная линия?
              %select#select-input{ name: "question2" }
                %option{ value: "1" } Линии разграничения вида и разреза.
                %option{ value: "2" } Линии сечений.
                %option{ value: "3" } Линии штриховки.
            %li
              %label{ for: "question3" } Какие размеры являются рабочими?
              %textarea#question3.field-long{ name: "question3" }
            %li
              %label{ for: "full-name-input" } Full Name
              %input#full-name-input.field-long{ name: "full-name", type: "text" }
              %br
            %li
              %label{ for: "email-input" } Email
              %input#email-input.field-long{ name: "email", type: "email" }
              %br
            %li
              %label{ for: "phone-input" } Phone number
              %input#phone-input.field-long{ name: "phone", type: "text" }
              %br
            %li
              %label{ for: "message-input" } Your Message
              %textarea#message-input.field-long{ name: "field4" }
            %li
              %input{ type: "submit", value: "Submit"}
              %br
    = render(File.join(__dir__, "/partials/footer.haml"))