@model PracticeTestApp.ViewModels.Home.IndexViewModel
<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>

<span data-bind="text: person().name"></span>
<br>
<span data-bind="text: person().age"></span>

<script src="~/static/home/index.bundle.js"></script>
</body>
</html>