nav {
    border-bottom: solid black 1px;
    height: 60px;
}

nav > ul {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    padding-left: 0px;
    width: 70%;
    margin: 0px auto;
    height: 100%;
}

#date, #time {
    line-height: 30px;
}

nav ul > li {
    flex: 3 3 auto;
    text-align: center;
}

nav ul li > a, nav ul li > span {
    text-decoration: none;
    text-transform: none;
    font-size: 16px;
    color: black;
    line-height: 60px;
}

nav ul li > a:hover {
    color: #bfbfbf;
}