body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #f2f2f2;
}

.portrait {
    max-width: 100%;
}

.main-content {
    position: relative;
    top: -100px;
    width: 60%;
    margin: 0px auto;
    padding: 50px 100px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

footer {
    width: 100%;
    background-color: #e6e6e6;
}

footer > section {
    width: 60%;
    margin: 0px auto;
    padding: 50px 100px;
}

.interests {
	list-style: none;
}

p {
	text-align: justify;
}

header * {
    font-weight: 100;
}

h1 {
    font-size: 40px;
}

h2 {
	font-size: 32px;
}

.contents {
	display: block;
	color: black;
	text-decoration: underline;
}

.contents:hover {
	color: #bfbfbf;
	cursor: pointer;
}

.photo-wrapper {
    display: flex;
	width: 100%;
    flex-flow: row wrap;
	align-content: flex-start;
	justify-content: left;
}

.photo-wrapper > img {
	width: 30%;
	max-height: 300px;
	flex: 2 2 auto;
	margin: 10px;
}

form ol {
	margin:10px auto;
	max-width: 400px;
    padding: 20px 12px 10px 20px;
    font-weight: 100;
}

form ol li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

form ol label {
	text-align: center;
	margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}

form ol .inline {
    display: inline-block;
}

form ol input, textarea, select {
	box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin: 0px;
	outline: none;	
}

form ol input:focus,
form ol textarea:focus {
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

form ol .field-long {
	width: 100%;
}

form ol select {
	width: 100%;
}

form ol textarea {
	height: 100px;
}

form ol input[type=submit],
form ol input[type=button] {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

form ol input[type=submit]:hover,
form ol input[type=button]:hover {
	background: #4691A4;
	box-shadow:none;
}

.avatar {
    width: 30%;
    float: left;
    margin: 0% 2% 2% 0%;
}

th {
    font-weight: bold;
    background-color: lightgrey;
}

tr {
    background-color: #e3e3e3;
    height: 60px;
    text-align: center;
}

td {
    width: 11%;
}

.error-messages {
    color: red;
    margin-bottom: 5px;
}

.validation-failed {
    box-shadow: 0 0 8px red;
}